<template>
  <div>
    <button @click="addProduct(product)">Add product</button>
    <button @click="removeAll()">Remove all</button>

    <div>{{ products }}</div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'top',
  data() {
    return {
      product: {
        name: "Some name",
        price: 10
      }
    }
  },
  computed: {
    ...mapGetters('home', ['products'])
  },
  methods: {
    ...mapActions('home', ['addProduct', 'removeAll'])
  }
}
</script>
